@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'Android', 'cursive';

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 15px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
}

header p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
}

nav {
    background-color: var(--cor05);
    padding: 15px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.425);
}

nav a {
    color: var(--cor01);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.1s;
}

nav a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
}

main {
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    min-width: 320px;
    max-width: 750px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    margin-bottom: 30px;
}

main h1 {
    color: var(--cor05);
    font-family: var(--font-android);
    text-align: center;
    padding: 5px;
    font-weight: normal;
    font-size: 1.8em;

}

main h2 {
    color: var(--cor06);
    font-family: var(--font-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor03), transparent);
    padding: 5px;
    font-weight: normal;
}

main p {
    color: var(--cor06);
    text-align: justify;
    margin: 10px 0px 10px 0px;
    text-indent: 20px;
    line-height: 1.7em;
    font-size: 1.05em;
}

main strong {
    color: var(--cor05);
    padding: 2px;
}

main a {
    color: var(--cor06);
    font-weight: bold;
    background-color: var(--cor02);
    text-decoration: none;
    padding: 3px;
}

main a:hover {
    color: var(--cor05);
    text-decoration: underline;
}

div.video {
    background: var(--cor06);
    margin: 0px -20px 0px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

a.externo::after {
    content: '\00A0\1F517';
}

main img {
    width: 100%;
}

main img.pqn {
    width: 350px;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
}

aside h3 {
    background-color: var(--cor06);
    font-family: var(--font-android);
    color: white;
    text-align: center;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    font-weight: normal;
    font-size: 1em;
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor06);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: var(--cor03);
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor01);
}